body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
  margin-left: 100px;
  
}

#hero {
    width: 592px;
    margin: 72px;
    
}

img {
    margin: 10px;
    align-items: center;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 46px;
  line-height: 56px;
  font-weight: normal;
  
}

h1 span {
  font-weight: bold;

  margin-bottom: 32px;
}

span, a {
  color: #ff9900;
}

p, #footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;


}

#footer a + a {
    margin-left: 28px;
}

.line {
    width: 568px;
    height: 0;

    margin: 0  auto 8px;

    border: 1px solid #ECEFF2;

}

#footer {
  padding-top: 10px;
 
 
}

#balls {
    position: fixed;
    top: 400px;
    right: 0;
}

